/* CSS declarations go here */
/*.org_select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;*/
    /* needed for Firefox: */
/*    overflow:hidden;
    width: 120%;
}*/

#in_list {
	background-color: darkseagreen;
	height: 100%;
	opacity: 0.5;
	margin: 2px;
}

#out_list {
	background-color: indianred;
	height: 100%;
	opacity: 0.5;
	margin: 2px;
}

#login {
/*	float: right;*/
}

.content-subhead {
	font-weight: bold;
	color: #fff;
}