/* CSS declarations go here */
/*.org_select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;*/
    /* needed for Firefox: */
/*    overflow:hidden;
    width: 120%;
}*/

#in_list {
	background-color: darkseagreen;
	height: 100%;
	opacity: 0.5;
	margin: 2px;
}

#out_list {
	background-color: indianred;
	height: 100%;
	opacity: 0.5;
	margin: 2px;
}

.content-subhead {
	font-weight: bold;
	color: #fff;
}

ul.in-out-list {
	min-height: 50px;
	list-style-type: none;
}

.this-is-me {
	
	background-color: lightblue;
	
}

.card {
    cursor: grab;
	cursor: moz-grab;
	cursor: -webkit-grab;
    border-radius: 5px ;
    border: 3px solid #FCB326;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.8), inset 0 2px 1px rgba(0, 0, 0, 0.8);
	color: black;
	font-size: 16px;
}

.card-rotate {
    -webkit-transform:rotate(3deg);
    -o-transform:rotate(3deg);
    -ms-transform:rotate(3deg);
    -moz-transform:rotate(3deg);
    transform:rotate(3deg);
}

.rotate-text-90 {
/*    -webkit-transform-origin: left bottom;
    -webkit-transform: rotate(-90deg) translate(-10%, 50%);
    -moz-transform-origin: 0 50%;
    -moz-transform: rotate(-90deg) translate(-10%, 50%);
    -ms-transform-origin: 0 50%;
    -ms-transform: rotate(-90deg) translate(-10%, 50%);
    -o-transform-origin: 0 50%;
    -o-transform: rotate(-90deg) translate(-10%, 50%);*/
    transform-origin: left top;
    transform: rotate(90deg) translate(1%, -100%);
}